body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
 
}
img{display: block;}

.container{
  max-width: 1158px; 
  padding-left: 15px; 
  padding-right: 15px;
  margin-left: auto; 
  margin-right: auto;
}

.section{padding-top: 120px;
padding-bottom: 120px;}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;

}
.header-container{
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-web {
  color: #4d5ae5;
}

.nav{display: flex;
align-items: center;}

.nav-list{
  display: flex;
  gap:40px;
  margin-left: 76px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link, .contacts-link{
  position: relative;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.active{
  color: #404BBF;
}
.nav-link.active::after{
content: "";
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;

}

.contacts {
  font-style: normal;
   margin-left: auto;
}

.contacts-list{
  display: flex;
  gap: 40px;
 

}

.contacts-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero {
  background-image:  linear-gradient(
      to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ), url("../images/people-office.jpg");
  background-color: #2e2f42;
  padding: 188px 0;

  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;

}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-title {
  font-size: 36px;
  line-height: 1.11;
 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.features-list{
  display: flex;
  gap: 24px;
}

.features-item{
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.features-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color:#F4F4FD;
  border: 1px solid #8E8F99;  
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-icon-circle:hover,
.features-icon-circle:focus {
  background-color:#F4F4FD;
}



.features-icon {
  width: 64px;
  height: 64px;
  fill: #2E2F42;
}
.team {
  background-color: #f4f4fd;
}
.team-list{
  display: flex;
   gap: 24px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-title,
.portfolio-title{
  margin-bottom: 72px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-position {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-content{
  padding: 32px 16px;
  text-align: center;
}
.team-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-circle:hover,
.team-icon-circle:focus {
  background-color: #404BBF;
}

.team-social-icons {
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-icon {
  width: 16px;
    height: 16px;
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
 
}

.portfolio-item{
  cursor: pointer;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}
.portfolio-thumb{
  position: relative;
  overflow: hidden;
}
.portfolio-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-wrapper{
  display: flex;
  align-items: baseline;
}
.footer .logo {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .logo .logo-web{
  color: #4d5ae5;
}
.footer-left{
  margin-right: 120px;
  max-width: 264px;
}
.footer-text {
  margin-top: 16px;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.icon-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-circle:hover,
.icon-circle:focus{
  background-color: #31d0aa;
}
.social-icons{
  fill: #f4f4fd;
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.icon{
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}